* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background: #802744;
}

body {
      height: 100vh;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Profile Picture"
    "Profile Picture"
    "Profile Picture";
  overflow: hidden;
}

.nav {
    grid-area: Profile;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
      display: none;
      margin-left: 6.5em;
}

.bar {

    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}


.nav-menu {
  grid-area: Profile;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

nav ul {
  list-style: none;
  text-align: center;
  margin-right: 3rem;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 15px;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  font-size: 12px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 2s;
}
nav ul li a:hover {
  color: #D55D92;
}

nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


.Profile {
grid-area: Profile;
height: 100vh;
margin-left: 4em;
}

#name {
  font-size: 47px;
  color: #fff;
  margin-top: 2em;
  margin-left: 0.8em;
  font-weight: bold;
}

#sub {
  font-size: 27px;
  color: #fff;
  margin-top: 1em;
  margin-left: 1.4em;
  font-weight: bold;
}

#description {
  font-size: 20px;
  color: #fff;
  margin-top: 4em;
  margin-left: 1.6em;
  width: 35em;
  line-height: 2em;
}

.socmed {
    margin-left: 3.5em;
}
.fas ,
.fab {
  color: #fff;
  margin-top: 2em;
  padding-right: 2em;
  font-size: 25px;
}

.resume {
  margin-top: -5em;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 10px;
  text-align: center;
}

#dl{
  font-size: 15px;
  padding-left: 15px;
}

.Picture {
  overflow: hidden;
  grid-area: Picture;
 }

.Picture img {
  width: 55em;
  height:65em;
  overflow: hidden;
}

.explore {
  position: relative;
  top: -3em;
  width: 100%;
  height: 50em;
  background-color: #4A0C20;
  overflow: hidden;
}

.explore #explore{
  position: absolute;
  top: 6.5em;
  right:-3em;
  color: #fff;
  letter-spacing: 1em;
  font-size: 37px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  font-weight: bold;
}

.feature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 88%;
  height: 50em;
}

.projects {
  width: 35em;
  height: 100%;
}

.projects img {
  display: flex;
  width: 100%;
  height: 25em;
  margin-top: 10em;
}

#title{
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-top:1.5em;
  padding-bottom: 1.5em;
  margin: 0 auto;
  text-align: center;
}

.see-more {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin-top: 10em;
  margin-left: 35%;
  border: 1px solid white;
  padding: 5px 20px;
}

.graphic {
  width: 35em;
  height: 100%;
}

.graphic img {
  display: flex;
  width: 100%;
  height: 25em;
  margin-top: 10em;
}

.art {
  width: 35em;
  height: 100%;
}

.art img {
  display: flex;
  width: 100%;
  height: 25em;
  margin-top: 10em;
}

#title {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

footer{
  position: relative;
  bottom: 0;
  text-align: center;
  color: #bcb8b1;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 1em;
}

footer p{
  padding-bottom: 1em;
}


@media only screen and (min-width: 990px) and (max-width: 1090px) {
    .Picture {
      position: absolute;
      right: 0;
    }

    .Picture img {
      width: 100%;
    }

    #description {
      font-size: 18px;
      color: #fff;
      margin-top: 4em;
      margin-left: 2em;
      width: 25em;
      line-height: 2em;
    }


    .feat {
      padding: 1em 2em;
    }

    .explore #explore{
      margin-top: 1em;
      font-size: 33px;
      right:-4em;
    }

    .feature {
      width: 90%;
    }

    .see-more {
      margin-left: 31%;
    }

    .fas ,
    .fab {
      font-size: 20px;
    }
}
/**
@media only screen and (min-width: 730px) {

    .Picture{
      display: none;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;

    }

    #description {
      font-size: 15px;
      color: #fff;
      margin-top: 4em;
      margin-left: 2em;
      width: 25em;
      line-height: 2em;
    }


    .feat {
      padding: 1em 2em;
    }

    .explore #explore{
      margin-top: 1em;
      font-size: 33px;
      right:-4em;
    }

    .feature {
      width: 90%;
    }

    .see-more {
      margin-left: 31%;
    }

    .fas ,
    .fab {
      font-size: 20px;
    }
}  **/


@media only screen and (min-width:768px) and (max-width: 989px)  {


    .Picture{
      display: none;
    }

    #description {
      font-size: 15px;
      margin-left: 2.5em;
      width: 23em;
    }

    .fas ,
    .fab {
      font-size: 20px;
    }

    .explore {
      margin-top: 2em;
      height: 260%;
      overflow: hidden;
      }

      .feature {
        margin-top: 45em;
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

  .explore #explore{
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      top: 1em;
      left: 0;
        width: 100%;
      text-align: center;
    }
}

@media only screen and (min-width:200px) and (max-width: 767px){

  .hamburger {
    margin-left: 3em;
  }

  .Picture{
    display: none;
  }

  .Profile {
    margin-left: 2em;
  }

  #name {
    font-size: 27px;
  }

  #sub {
    font-size: 20px;
    margin-left: 1em;
  }

  #description {
    font-size: 15px;
    margin: 3em 0 2em 1.5em;
    width: 20em;
  }

  .socmed{
    margin-left: 2em;
  }

  .fas ,
  .fab {
    font-size: 15px;
    padding-right: 10px;
  }

  .explore {
    margin-top: -5em;
    height: 250%;
    overflow: hidden;
    }

    .feature {
      margin-top: 40em;
      margin-left: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

.explore #explore{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    top: 1em;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 27px;
  }

}



@media only screen and (min-width: 1090px) {
    .nav-menu {
        position: fixed;
        z-index: 999;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background: #973957;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (max-width: 1080px) {
    .nav-menu {
        position: fixed;
        z-index: 999;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background: #973957;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
}
